<!DOCTYPE html>
<html>

<head>
  <title>FizzQuizz</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <div class="nav-div"></div>
      <div class="nav-div" id="fizz-text">
        <h1 id="header-title">FizzQuizz</h1>
      </div>
      <div class="nav-div" id="nav-img">
        <img height="40" width="40" src="../images/settings.png">
      </div>
    </nav>
  </header>