<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div id="welcome-page">
    <div id="welcome-logo">
      <h1 class="title">FizzQuizz</h1>
      <p id="intro">FizzQuizz is a unique online drinking game that plays a lot like trivia and hot potato where the
        goal of the
        game is to get your teammates to correctly guess trivia questions. Two teams play head to head to answer as
        many questions as possible before the timer runs out. Once the timer runs out, the player who is holding the
        phone’s team must drink!
      </p>
    </div>
    <div id="index-text-wrap">
      <div class="index-text">
        <a>Instructions</a>
      </div>
      <div class="index-text" id="login">
        <a href="/auth/google">Login</a>
      </div>
    </div>
  </div>
</body>

</html>