html {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

.title{
  color: black;
}

.images {
  height: 120px;
  width: 120px;
}

#intro{
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: rgba(167, 99, 81, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 10px 5px;
}

#time-up-wrap {
  display: flex;
  justify-content: center;
}

#time-up {
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  width: 65%;
  height: 150px;
  background-color: rgba(167, 99, 81, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
}

body {
  text-align: center;
  background-color: rgb(247, 247, 247);
  margin: 0 !important;
  background-image: url("../images/beer-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

nav {
  height: 20vh;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px; */
}

.nav-div {
  width: 20%;
}

#nav-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fizz-text {
  width: 40%;
  min-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 12px; */
}

#fizz-text h1 {
  font-size: 140px;
}

a {
  color: #00B7FF;
}

#header-title{
  font-family: 'Ropa Sans', sans-serif;
  font-size: 46px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.categories-ctn {
  display: flex;
  justify-content: space-evenly;
  height: 32%;
  align-items: center;
}

.categories {
  height: 95%;
  width: 27%;
  background-color: rgba(240,240,240, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: black; 
  text-decoration: none;
}

#play-again-wrap {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
  height: 30%;
  width: 50%;
  /* margin: 0 auto; */
  background-color: rgba(240,240,240, 0.7);  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: black;
  font-family: 'Ropa Sans', sans-serif;
  text-decoration: none;
  font-size: 300%;
}

#drinks-drank {
  font-size: 420%;
  font-weight: bold;
}

.categories a {
  text-decoration: none;
  color: black;
}

#category-text h2 {
  margin-top: 10px;
}

#categories-page {
  height: 78%;
  padding-top: 20px;
}

#random-cat {
  border: 5px dashed black;
}

#questions-container {
  text-align: center;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

#q-ctn {
  height: 50%;
  width: 81.7%;
  background: rgba(240, 240, 240, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 100px;
  padding: 18px;
  
}

#a-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  height: 50%;
  padding: 18px;
}

.answers {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  height: 20%;
  background-color: rgba(240, 240, 240, 0.7);
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  word-wrap: break-word;
  padding: 0 20px;
}

#index-text-wrap {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.index-text {
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(240, 240, 240, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: black;
}

#welcome-logo {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-logo h1 {
  font-size: 58px;
  font-family: 'Ropa Sans', sans-serif;
}

#welcome-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-page {
  height: 78vh;
  margin-top: 18px;
}

#timer-page {
  display: flex;
  z-index: 999;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 20px;
  display: none;
  font-size: 300px;
  color: black;
} 

.timer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ropa Sans', sans-serif;
}

.wrong-text-wrap {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  width: 65%;
  height: 150px;
  background: linear-gradient(to right, rgba(189, 97, 55),rgba(148, 70, 36));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

#wrong-page {
  font-size: 400%;
  font-family: 'PT Sans', sans-serif;
  border-radius: 20px;
  display: none;
  color: black;
  width: 100%;
  height: 100%; 
  z-index: 1;
  top: 0; 
  left: 0; 
  position: fixed;
  background-image: url("../images/beer-background.jpg");
  background-size: cover;
  background-attachment: fixed;
} 

#wrong-timer-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
  z-index: 2;
  top: 0; 
  left: 0; 
  position: fixed;
}

#correct-page {
  font-size: 400%;
  font-family: 'PT Sans', sans-serif;
  border-radius: 20px;
  display: none;
  color: black;
  width: 100%;
  height: 100%; 
  z-index: 1;
  top: 0; 
  left: 0; 
  position: fixed;
  background-image: url("../images/beer-background.jpg");
  background-size: cover;
  background-attachment: fixed;
} 

#correct-timer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
  top: 0; 
  left: 0; 
  position: fixed;
}

#correct-text {
  color: white;
}

.correct-text-wrap {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  width: 65%;
  height: 150px;
  background: linear-gradient(to right, rgba(176, 207, 77),rgba(124, 188, 55));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

/* Copied from above */
#timeup-page {
  font-size: 100px;
  border-radius: 20px;
  display: none;
  color: white;
  opacity: 0.8; 
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%); 
  width: 100%;
  height: 100%; 
  z-index: 10;
  top: 0; 
  left: 0; 
  position: fixed;
}

.gameover-page{
  font-family: 'Ropa Sans', sans-serif;
  height: 100vh;
}

#timer-page{
  width: 100%;
  height: 100%; 
  z-index: 10;
  top: 0; 
  left: 0; 
  position:   fixed;
  background-image: url("../images/beer-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}


#game-play{
  margin-top: 50px;
  border-radius: 8px;
  padding: 20px 30px;
  background-color: rgba(240, 240, 240, 0.2);
}

#settings-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#settings-text {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 50px;
  width: 40%;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.7);
  border-radius: 8px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

#first-beer {
  height: 200px;
  width: 200px;
}

#face {
  height: 500px;
  width: 500px;
}

@media screen and (min-width: 768px) {
  .images {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
  }

  #red-cup {
    max-height: 30%;
    margin-left: 7%;
  }
  
  #game-play {
    margin: 50px 60px;
    padding: 20px 50px;
  }
}

@media screen and (min-width: 414px) {
  #categories-page {
    height: 75%;
  }
}

@media screen and (max-width: 520px) {
  .categories-ctn {
    min-width: 460px; 
    min-height: 210px;
  }
}

@media screen and (min-width: 550px) {
  .intro {
    max-width: 480px;
  }
}


