html {
  height: 100vh;
}

body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 100vh;
  background-color: rgb(247, 247, 247);
}

a {
  color: #00B7FF;
}

#welcome-logo {
  margin-top: 20%;
  margin-bottom: 20%;
}