html {
  height: 100vh;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(247, 247, 247);
  margin: 0 !important
}

nav {
  height: 1vh;
}

a {
  color: #00B7FF;
}

.categories-ctn {
  display: flex;
  justify-content: space-evenly;
  height: 30%;
  align-items: center;
}

.categories {
  height: 95%;
  width: 27%;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.categories a {
  text-decoration: none;
  color: black;
}

#category-text {
  height: 4vh;
}

#categories-page {
  height: 95vh;
}

/* #pick-category {
  height: 100px;
  margin-top: 100px;
} */

#random-cat {
  border: 5px dashed black;
}

#questions-container {
  border: 1px dashed black;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#q-ctn {
  height: 50vh;
  width: 85%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(240, 240, 240);
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 100px;
}

#a-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 85%;
  height: 40vh;
}

.answers {
  border: 1px solid black;
  border-radius: 20px;
  height: 20%;
  background-color: rgb(240, 240, 240);
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#index-text-wrap {
  /* border: 1px dashed black; */
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.index-text {
  font-size: 24px;
  border: 1px solid grey;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-text a{
  text-decoration: none;
  color: black;
}

#welcome-logo {
  height: 50%;
  /* border: 1px dashed blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-page {
  /* border: 1px solid red; */
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
}

#timer-page {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 100vh;
  width: 95%;
  position: absolute;
  top: 0;
  background-color: gold;
  border-radius: 20px;
  display: none;
} 

#wrong-page {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 100vh;
  width: 95%;
  position: absolute;
  top: 0;
  background-color: red;
  border-radius: 20px;
  display: none;
} 

#correct-page {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 100vh;
  width: 95%;
  position: absolute;
  top: 0;
  background-color: green;
  border-radius: 20px;
  display: none;
} 

