<%- include('../partials/header') %>

<div id="categories-page">
    <div class="categories-ctn">
        <a class="categories" id="animals" href="/category/27"><img class="images" src="https://i.imgur.com/kee72z3.png" title="source: imgur.com" />Animals</a>
        <a class="categories" id="general" href="/category/9"><img class="images" src="https://i.imgur.com/Nk4vE1u.png" title="source: imgur.com" />General</a>
        <a class="categories" id="science" href="/category/17"><img class="images" src="https://i.imgur.com/kUbI95M.png" title="source: imgur.com" />Science</a>
    </div>
    <br>
    <div class="categories-ctn">
        <a class="categories" id="history" href="/category/23"><img class="images" src="https://i.imgur.com/k2JD0uL.png" title="source: imgur.com" />History</a></a>
        <a class="categories" id="random"href="/category/11"><img class="images" src="https://i.imgur.com/44aeSiI.png" title="source: imgur.com" />Random</a>
        <a class="categories" id="movies" href="/category/10"><img class="images" src="https://i.imgur.com/8nLfw2N.png" title="source: imgur.com" />Movies</a>
    </div>
    <br>
    <div class="categories-ctn">
        <a class="categories" id="tv" href="/category/14"><img class="images" src="https://i.imgur.com/42O6f3N.png" title="source: imgur.com" />TV</a>
        <a class="categories" id="sports" href="/category/21"><img class="images" src="https://i.imgur.com/WY64JZK.png" title="source: imgur.com" />Sports</a>
        <a class="categories" id="music" href="/category/12"><img class="images" src="https://i.imgur.com/CfYM7NY.png" title="source: imgur.com" />Music</a>
    </div>
</div>

<div id="category-text">
    <h2>Pick a Category!</h2>
</div>