<%- include('../partials/header') %>

<div id="category-text">
    <h1 id="pick-category">Pick a Category!</h1>
</div>

<div id="categories-page">
    <div class="categories-ctn">
        <div class="categories"><a id="animals" href="/category/27">Animals</a></div>
        <div class="categories"><a id="general" href="/category/9">General</a></div>
        <div class="categories"><a id="science" href="/category/17">Science/<br>Nature</a></div>
    </div>
    <br>
    <div class="categories-ctn">
        <div class="categories"><a id="history" href="/category/23">History</a></div>
        <div class="categories" id="random"><a href="/category/11">Random</a></div>
        <div class="categories"><a id="movies" href="/category/10">Movies</a></div>
    </div>
    <br>
    <div class="categories-ctn">
        <div class="categories"><a id="tv" href="/category/14">TV</a></div>
        <div class="categories"><a id="sports" href="/category/21">Sports</a></div>
        <div class="categories"><a id="music" href="/category/12">Music</a></div>
    </div>
</div>