<%- include('../partials/header') %>

<h1 id="pick-category">Pick a Category!</h1>

<div id="categories-page">
    <div class="categories-ctn">
        <div class="categories"><a id="animals" href="/games/questions">ANIMALS</a></div>
        <div class="categories"><a id="general" href="/games/questions">GENERAL</a></div>
        <div class="categories"><a id="science" href="/games/questions">SCIENCE/NATURE</a></div>
    </div>
    <br>
    <div class="categories-ctn">
        <div class="categories"><a id="history" href="/games/questions">HISTORY</a></div>
        <div class="categories" id="random"><a href="/games/questions">RANDOM</a></div>
        <div class="categories"><a id="movies" href="/games/questions">MOVIES</a></div>
    </div>
    <br>
    <div class="categories-ctn">
        <div class="categories"><a id="tv" href="/games/questions">TV</a></div>
        <div class="categories"><a id="sports" href="/games/questions">SPORTS</a></div>
        <div class="categories"><a id="music" href="/games/questions">MUSIC</a></div>
    </div>
</div>



<%- include('../partials/footer') %>