<%- include('../partials/header') %>

<div id="category-text">
    <h1 id="pick-category">Pick a Category!</h1>
</div>

<div id="categories-page">
    <div class="categories-ctn">
        <a class="categories" id="animals" href="/category/27">Animals</a>
        <a class="categories" id="general" href="/category/9">General</a>
        <a class="categories" id="science" href="/category/17">Science/<br>Nature</a>
    </div>
    <br>
    <div class="categories-ctn">
        <a class="categories" id="history" href="/category/23">History</a>
        <a class="categories" id="random"href="/category/11">Random</a>
        <a class="categories" id="movies" href="/category/10">Movies</a>
    </div>
    <br>
    <div class="categories-ctn">
        <a class="categories" id="tv" href="/category/14">TV</a>
        <a class="categories" id="sports" href="/category/21">Sports</a>
        <a class="categories" id="music" href="/category/12">Music</a>
    </div>
</div>