<%- include('../partials/header') %>
<div class="gameover-page">
    <h1>YOUR TEAM CHUGS!</h1>
    <div id="time-up-wrap">
        <h1 id="time-up">TIME'S UP! DRINK!</h1>
    </div>
    <img id="face" src="https://i.imgur.com/JsyaFcH.png" title="source: imgur.com" />
    <div id="drinks-drank">
        <% if (!totalDrinks) { %>
        <p>You are all too sober!</p>
        <% } else { %>

        <p>Total Drinks Drank:
            <%= totalDrinks %>
        </p>
        <% } %>
    </div>
    <div id="play-again-wrap">
        <a class="play-again" href="/category">Play again?</a>
    </div>
</div>

<script>var laughingAudio = new Audio("/audio/laugh.wav");
    laughingAudio.play();
</script>