<%- include('../partials/header') %>

<div id="game-play">
    <h1>Game Play</h1>

    <p> You must have two teams. The teams do not need to be the same size, but it is easiest if you arrange
        seating so
        that each player is sitting next to a member of the other team to allow the phone to be passed quickly from
        one
        team to the other.</p>

    <p>
        Pick a player to go first. That player should hold the phone. To start the game, click on a category. There
        are
        9
        categories, including the “Random” category, which uses all 3,244 questions in the game. Once a category is
        picked,
        a 3 second countdown will start the game. The game can be anywhere from 30 seconds to 3 minutes long. The
        game
        timer is random and hidden so that no one knows when the timer is going to go off.

    </p>
    <p>
        Once a question is displayed, the goal is to correctly answer the trivia question. The currently player
        will
        read
        their question outloud and their team will help them answer the question. Any incorrect answer will freeze
        the
        screen for 3 seconds and the current player must take a sip of beer. As soon as the the answer has been
        guessed,
        that player will hand the phone to the next player. When the buzzer sounds, this indicates the end of the
        round.
        The team of the player who is holding the phone must all chug their beer.
    </p>
    <a href="/">Homepage</a>
    <a href="/settings">Settings</a>
</div>