<link rel='stylesheet' href='/stylesheets/style.css' />

<div id="game-play">
    <h1>Game Play</h1>
    <p>
    1) Form 2 teams <br>
    2) Get in a circle (opposing teammates to your LEFT & RIGHT) <br>
    3) Pick which team goes 1st <br>
    4) Player on Team 1 opens game on phone <br>
    5) Player on Team 1 chooses category & START! <br>
    6) Player on 1st team reads question & answers aloud to team <br>
    7) All other players on 1st team decide on answer <br>
    8) Player on 1st team clicks answer <br>
    9) If WRONG, take a drink(!) and repeat steps 6-9 <br>
    10) If CORRECT, pass the phone to the LEFT (to Player on Team 2) <br>
    11) Repeat steps 6-10 until timer runs out (timer = between 30 sec - 3 minutes) <br>
    12) ALL PLAYERS on team of Player holding the phone when timer runs out MUST DRINK! <br>
    13) Play again! 
    </p>
    <a href="/">Homepage</a>
    <a href="/settings">Settings</a>
</div>