<%- include('../partials/header') %>

<div id="main-page">
    <div id="timer-page">
        <div class="timer-container">
            <h1 id="countdown"></h1>
        </div>
    </div>

    <div id="questions-container">
        <div id="q-ctn">
            <div id="questions"></div>
        </div>
        <div id="a-ctn">
            <div class="answers" id="ans0"></div>
            <div class="answers" id="ans1"></div>
            <div class="answers" id="ans2"></div>
            <div class="answers" id="ans3"></div>
        </div>
    </div>

    <div id="correct-page">
        <div class="timer-container" id="correct-timer-wrap">
            <h1>CORRECT! Pass it!</h1>
        </div>
    </div>

    <div id="timeup-page">
        <div class="timer-container">
            <h1>TIME'S UP!</h1>
        </div>
    </div>
    

    <div id="wrong-page">
        <div class="timer-container" id="wrong-timer-wrap">
            <h1>WRONG! <br /> Take a sip!</h1>
            <img id="cup" src="../images/cup.png">
        </div>
    </div>
</div>

<script>
    let gameId = '<%= gameId %>';
</script>

<script src="/javascripts/app.js"></script>