<%- include('../partials/header') %>

<div id="main-page">
    <div id="question-wrap-container">
        <div id="questions-container">
            <input id="genQ" type="submit" value="NEXT QUESTION" onclick="generateQuestion()">
            
            <div id="q-ctn">
                <div id="questions"></div>
            </div>
            <div id="a-ctn">
                <div class="answers" id="ans0"></div>
                <div class="answers" id="ans1"></div>
                <div class="answers" id="ans2"></div>
                <div class="answers" id="ans3"></div>
            </div>
        </div>
    </div>   

    <div id="correct-page"></div>

    <div id="wrong-page"></div>
</div>

<script>
    let gameId = '<%= gameId %>';
</script>

<script src="/javascripts/app.js"></script>

