<%- include('../partials/header') %>

<div id="settings-page">
    <div id="settings-text">
        <h1>Thanks for playing our game!</h1>
        <p>This game was created and developed by:</p>
        <ul>
            <li><h2>The Quizzards!</h2></li>
            <li>Danny Mayasich</li>
            <li>Elizabeth "Lizz" Messick</li>
            <li>Ryan Gonzales</li>
        </ul>        
    </div>

    <div id="settings-buttons">
        <a class="btn" href="/category">CHOOSE A CATEGORY</a>
        <a class="btn" href="/instructions">INSTRUCTIONS</a>
        <a class="btn" id="logout" href="/logout">LOGOUT</a>
    </div>
</div>

